extends base

block content
  p Hi #{firstName},
  p Welcome to AI-Powered Mental Health Journal! We're excited to have you on board.
  p To get started, please verify your email address by clicking the button below:
  p(style="text-align: center;")
    a.button(href=url) Verify Email
  p If you didn't create an account with us, please ignore this email or contact support if you have any questions.
  p Best regards,
  p The AI-Powered Mental Health Journal Team
